.admin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    width: 100%; 
    background-color: #f4f4f4; 
  }
  
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
    width: 400px; 
  }
  
  .form-container {
    width: 100%; 
    padding: 20px;
  }
  .form-container h3{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .input-box {
    margin-bottom: 15px; 
  }
  
  .input-box input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
  
  .input-box button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .input-box button:hover {
    background-color: #0056b3; 
  }
  